
li
{
    list-style-type: none;
}

.top-title {
  font-size: 100px;
  padding-left: 70px;
}
.item {
  display: inline-block;
/*  border: 1px solid #ccc;*/
}
.thumb {
  padding: 5px;
}

.title {
  padding: 0;
  min-width: 95px;
}

.search {

  float:top;
  padding-bottom: 50px;
}

h1 
{
  font-size: 50px;
}
